<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>Simple Votes</title>
    </head>
    <body class="page">
        <main class="main">
            <div class="questions">
            {{ range $_, $q := .Questions }}
            <div class="question-container">
                <div class="question__text-container">
                    <h3 class="question__text">{{ $q.Text }}</h3>
                </div>
                <div class="question__options-container">
                    {{ if $q.IsAnswered }}
                        {{range $index, $text := $q.Options}}
                        <div class="option-container">
                            {{ range $q.Answered }}
                                {{ if eq $index .}}
                                <img height="10px" class="option__checkbox option_checked-image" width="10px" src="/static/checked.svg">
                                {{ end }}
                            {{ end }}
                            <div id="question{{ $q.Id }}__option{{ $index }}" class="option-text">{{ $text }}</div> 
                            <div class="option-percentage">{{ index $q.Percentages $index }}%</div><br>
                        </div>
                        {{ end }}
                    {{ else }}
                    <form action="/add-answer/"  class="options__form" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="question__options-container">
                    <input type="hidden" name="qid" value="{{ $q.Id }}">
                    {{ if eq $q.Type "one-option" }}
                        {{range $index, $text := .Options}}
                        <div class="option-container">
                            <input type="radio" name="option" class="option__checkbox option_radio option-checkbox{{ $q.Id }}" id="question{{ $q.Id }}__option{{ $index }}" value="{{ $index }}">
                            <div class="option-text options__form__option-text">{{ $text }}</div><br>
                        </div>
                        <script>
                            document.getElementById("question{{ $q.Id }}__option{{ $index }}").addEventListener("input", function(){
                                flag = false
                                submitButton = document.getElementById("answer-button{{ $q.Id }}")
                                nodes = document.querySelectorAll(".option-checkbox{{ $q.Id }}")
                                for (var i=0; i<nodes.length; i++){
                                    if (nodes[i].checked){
                                        flag = true
                                        break
                                    }
                                }
                                if (!flag) {
                                    if (!submitButton.classList.contains("options__form__answer-button-disabled")){
                                        submitButton.classList.add("options__form__answer-button-disabled")
                                    }
                                    submitButton.setAttribute("disabled", true)
                                } else {
                                    submitButton.classList.remove("options__form__answer-button-disabled")
                                    submitButton.removeAttribute("disabled", true)
                                }
                            })
                        </script>
                        {{ end }}
                        
                    {{ end }}
                    {{ if eq $q.Type "multiple-options" }}
                        {{range $index, $text := .Options}}
                        <div class="option-container">
                            <input type="checkbox" name="option {{ $index }}" class="question__option option__checkbox option-checkbox{{ $q.Id }}" id="question{{ $q.Id }}__option{{ $index }}" value="{{ $index }}">
                            <div class="option-text options__form__option-text">{{ $text }}</div><br>
                        </div>
                        <script>
                            document.getElementById("question{{ $q.Id }}__option{{ $index }}").addEventListener("input", function(){
                                flag = false
                                submitButton = document.getElementById("answer-button{{ $q.Id }}")
                                nodes = document.querySelectorAll(".option-checkbox{{ $q.Id }}")
                                for (var i=0; i<nodes.length; i++){
                                    if (nodes[i].checked){
                                        flag = true
                                        break
                                    }
                                }
                                if (!flag) {
                                    if (!submitButton.classList.contains("options__form__answer-button-disabled")){
                                        submitButton.classList.add("options__form__answer-button-disabled")
                                    }
                                    submitButton.setAttribute("disabled", true)
                                } else {
                                    submitButton.classList.remove("options__form__answer-button-disabled")
                                    submitButton.removeAttribute("disabled", true)
                                }
                            })
                        </script>
                        {{ end }}
                    {{ end }} 
                    </div>
                    <input type="submit" class="options__form__answer-button options__form__answer-button-disabled" id="answer-button{{ $q.Id }}"value="Answer" disabled>
                    </form>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            </div>
        </main>
    </body>
</html>